<div class="logo-background">
    <img class="resizeParent responsiveImageMap" width="2594" height="1445" src="Img/BlankBg.png" usemap="#buttonMap" data-animation-hide="fadeOut" data-animation-show="fadeIn" style="position:absolute"></img>
    <div class="copyImg" style="margin: auto;">
        <map name="buttonMap">
            <area id="mainlogo" alt="" title="" href="" shape="rect" coords="0,0,2594,1445" style="outline:none;" target="_self" />
            <div class="prevMap mainlogo bubbleLogo"></div>

            <area id="getintouchhex" alt="" title="" href="" shape="rect" coords="1381,0,2094,363" style="outline:none;" target="_self" />
            <div class="prevMap getintouchhex bubbleButton" ng-click="openTab('#tabContact')"></div>

            <area id="getintouchtext" alt="" title="" href="" shape="rect" coords="1452,146,2018,217" style="outline:none;" target="_self" />
            <div class="prevMap getintouchtext bubbleText" data-target="#navContact"></div>

            <area id="bloghex" alt="" title="" href="" shape="rect" coords="1944,394,2406,721" style="outline:none;" target="_self" />
            <div class="prevMap bloghex bubbleButton" ng-click="openTab('blog')"></div>

            <area id="blogtext" alt="" title="" href="" shape="rect" coords="2040,538,2296,609" style="outline:none;" target="_self" />
            <div class="prevMap blogtext bubbleText" data-target="#navBlog"></div>

            <area id="webdevhex" alt="" title="" href="" shape="rect" coords="2006,899,2594,1226" style="outline:none;" target="_self" />
            <div class="prevMap webdevhex bubbleButton" ng-click="openTab('webdev')"></div>

            <area id="webdevtext" alt="" title="" href="" shape="rect" coords="2083,1009,2523,1080" style="outline:none;" target="_self" />
            <div class="prevMap webdevtext bubbleText" data-target="#navWebdev"></div>

            <area id="systemshex" alt="" title="" href="" shape="rect" coords="1440,1117,2029,1444" style="outline:none;" target="_self" />
            <div class="prevMap systemshex bubbleButton" ng-click="openTab('#tabSystems')"></div>

            <area id="systemstext" alt="" title="" href="" shape="rect" coords="1517,1264,1949,1335" style="outline:none;" target="_self" />
            <div class="prevMap systemstext bubbleText" data-target="#navSystems"></div>

            <area id="consulthex" alt="" title="" href="" shape="rect" coords="627,1081,1339,1444" style="outline:none;" target="_self" />
            <div class="prevMap consultancyhex bubbleButton" ng-click="openTab('#tabConsult')"></div>

            <area id="consulttext" alt="" title="" href="" shape="rect" coords="708,1230,1264,1301" style="outline:none;" target="_self" />
            <div class="prevMap consultancytext bubbleText" data-target="#navConsult"></div>

            <area id="traininghex" alt="" title="" href="" shape="rect" coords="0,831,588,1158" style="outline:none;" target="_self" />
            <div class="prevMap traininghex bubbleButton" ng-click="openTab('#tabTraining')"></div>

            <area id="trainingtext" alt="" title="" href="" shape="rect" coords="92,940,495,1011" style="outline:none;" target="_self" />
            <div class="prevMap trainingtext bubbleText" data-target="#navTraining"></div>
        </map>
    </div>
</div>