<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="datahornet">
<head>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="shortcut icon" href="/favicons/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
        <meta name="apple-mobile-web-app-title" content="Data Hornet">
        <link rel="icon" type="image/png" href="/favicons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ff9933">
        <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="/favicons/browserconfig.xml">
        <meta name="application-name" content="Data Hornet">

        <!---JQuery and Angular--->
        <script src="Plugins/jQuery/jquery-2.1.1.js"></script>
        <script src="bower_components/angular/angular.js"></script>

        <!---Bootstrap--->
        <script src="Plugins/Bootstrap/js/bootstrap.min.js"></script>
        <link href="Plugins/Bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="Plugins/Themes/bootstrap.min.css" rel="stylesheet" />

        <!--Animations-->
        <link href="Plugins/Animations/animations.css" rel="stylesheet" />
        <script src="Plugins/Animations/Animations.js"></script>

        <script src="Plugins/ImageMap/jquery.rwdImageMaps.js"></script>
        <script src="Plugins/responsiveImageMap/responsiveImageMap.js"></script>
        <script src="Plugins/MenuTools/menuTools.js"></script>
        <script src="Plugins/transferAnimator/transferAnimator.js"></script>
        <link href="Plugins/transferAnimator/transferAnimator.css" rel="stylesheet" />

        <link href="index.css" rel="stylesheet" type="text/css" />
        <script src="indexA.js"></script>

        <link href="Index/Contact/contact.css" rel="stylesheet" type="text/css" />
        <title>Data Hornet</title>
        <style>
            @media (max-width: 480px) {
                .hidden-xxs {
                    display: none !important;
                }
            }

            .box {
                position: absolute;
            }
            .containment{
                height: calc(100% - 50px);
            }
            .row {
                margin-left: 15px;
                margin-right: 15px;
            }
        </style>
    </head>
    <body class="background" dh-core>
        <div class="row" style="height:64px;">
            <nav id="coreNavBar" class="navbar navbar-default animated" role="navigation" style="margin: 0px;" data-animation-show="fadeIn" data-animation-hide="fadeOut" ng-if="navbar==true">
                <a class="navbar-header">
                    <a class="navbar-brand" href="#" style="padding: 10px; width: 60px;">
                        <img src="img/logoIcon.png" style="height:100%" href="#home" role="tab" data-toggle="tab">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navB">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </a>

                <div class="navbar-collapse collapse in" id="navB">
                    <ul class="nav navbar-nav navbar-right" style="margin-left: 5px; margin-right: 5px;">
                        <li class="navbarLink" ng-click="openTab('blog');">
                            <img id="navBlog" class="navbarButton" src="img/BlogText_Medium.png">
                        </li>
                        <li class="navbarLink" ng-click="openTab('contact');">
                            <img id="navContact" class="navbarButton" src="img/GetInTouchText_Medium.png">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left" style="margin-left: 5px; margin-right: 5px;">
                        <li class="navbarLink" ng-click="openTab('training');">
                            <img id="navTraining" class="navbarButton" src="img/TrainingText_Medium.png">
                        </li>
                        <li class="navbarLink" ng-click="openTab('contact');">
                            <img id="navConsult" class="navbarButton" src="img/ConsultText_Medium.png">
                        </li>
                        <li class="navbarLink" ng-click="openTab('systems');">
                            <img id="navSystems" class="navbarButton" src="img/SystemsText_Medium.png">
                        </li>
                        <li class="navbarLink" ng-click="openTab('webdev');">
                            <img id="navWebdev" class="navbarButton" src="img/WebDevText_Medium.png">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="contentWrapper" class="row containment">
            <div id="tabHome" role="tabpanel" class="tab containment" ng-if="tab==undefined" dh-home>
            </div>
            <div id="tabBlog" class="tab containment" ng-if="tab=='blog'" dh-blog>
            </div>
            <div id="tabContact" class="tab-pane containment" ng-if="tab=='contact'" dh-contact>
            </div>
        </div>
    </body>
</html>