.bg-hourly, .hourly{
    background-color:#3A3A38;
    color:white;
    text-shadow: 1px 1px 1px black;
}
.border-hourly, .hourly{
    border:1px solid blue;
}

.bg-fixed, .fixed{
    background-color:#CD0000;
    color:white;
    text-shadow: 1px 1px 1px black;
}
.border-fixed, .fixed{
    border:1px solid pink;
}

.bg-mixed, .mixed{
    background-color:#777733;
    color:white;
    text-shadow: 1px 1px 1px black;
}
.border-mixed, .mixed{
    border:1px solid yellow;
}

.bg-mixed h5, .bg-fixed h5, .bg-hourly h5{
    color:inherit;
}